:root {

    //Primary Palette

    --color-primary-1: #27AE60;
    --color-primary-2: #EB5757;

    //Grey Scalle Palette

    --color-grey-600: #333333;
    --color-grey-300: #828282;
    --color-grey-100: #E0E0E0;
      --color-grey-0: #F5F5F5;

    //Typography

    //Font

    --font-primary: 'Inter', sans-serif;
}