.title {
    font-family: var(--font-family-primary);
    font-weight: bold; 
    color: var(--color-grey-600); 

    &.one {
        font-size: 1.625rem;
        line-height: 2.125rem;
    }

    &.two {
        font-size: 1.375rem;
        line-height: 1.5rem;
    }

    &.three {
        font-size: 1.125rem;
        line-height: 1.5rem;
    }
    
}

.title2 {
    font-family: var(--font-family-primary);
    font-weight: bold; 
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: white;
}

.paragraph {
    font-family: var(--font-family-primary);
    font-weight: normal; 

    &.one {
        font-size: 1rem;
        line-height: 1.5rem;
        color: var(--color-grey-300);
    }

    &.two {
        font-size: 0.875rem;
        line-height: 1.5rem;
        color: var(--color-grey-300);
    }

    &.three {
        font-size: 0.75rem;
        line-height: 1rem;
        color: var(--color-grey-300);
    }

    &.four {
        color: var(--color-primary-1);
        font-size: 0.875rem;
        line-height: 1.5rem;
        font-weight: 600;
    }

    &.five {
        color: white;
        font-size: 0.875rem;
        line-height: 1.5rem;
        font-weight: 600;
    }

    &.six {
        color: var(--color-grey-600);
        font-size: 0.875rem;
        line-height: 1.5rem;
        font-weight: 600;
    }

    &.seven {
        font-size: 0.875rem;
        line-height: 1.5rem;
        color: var(--color-grey-300);
        font-weight: 800;
    }
}
