.title {
    font-family: var(--font-family-primary);
    font-weight: bold; /* Use font-weight para definir o peso da fonte */
    color: var(--color-grey-600); /* Use --color-grey-600 em vez de --grey-600 */

    &.one {
        font-size: 1.625rem;
        line-height: 2.125rem;
    }

    &.two {
        font-size: 1.375rem;
        line-height: 1.5rem;
    }

    &.three {
        font-size: 1.125rem;
        line-height: 1.5rem;
    }
}

.paragraph {
    font-family: var(--font-family-primary);
    font-weight: normal; /* Use font-weight para definir o peso da fonte */

    &.one {
        font-size: 1rem;
        line-height: 1.5rem;
        color: var(--color-grey-300);
    }

    &.two {
        font-size: 0.875rem;
        line-height: 1.5rem;
        color: var(--color-grey-300);
    }

    &.three {
        font-size: 0.75rem;
        line-height: 1rem;
        color: var(--color-grey-300);
    }

    &.four {
        color: var(--color-primary-1);
        font-size: 0.875rem;
        line-height: 1.5rem;
        font-weight: 600;
    }
}
