.liBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center ;
    border-radius: 0.5rem;

    width: 18.75rem;
    height: 21.625rem;

    background: var(--color-grey-0, #F5F5F5);

    & img {

        width: 10.125rem;
        height: 10.125rem;
    }

    & div {

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
        width: 85%;
        height: 8.25rem;
        gap: 0.625rem;
        
        padding: 1.25rem;

        background: white;
    }
}