.liBox {

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 22rem;
    margin: 0.75rem;
}

.divImgBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    border-radius: 0.5rem;

    width: 5.25rem;
    height: 5.375rem;

    background: var(--color-grey-100);

    &>img {
        width: 4.4375rem;
        height: 4.4375rem;
        padding: 0.5rem;
    }
}

.divInfoBox{

    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.15rem;

    margin-left: 1rem;

    &>h3, p {

        display: inline-flex;
        width: 12.5rem;
                
    }

}

li >button {

    background: none;
    border: none;
}