.fullscreenBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    
    z-index: 2;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headerCard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    background: var(--color-primary-1, #27AE60);
    width: 38.5vw;
    height: 12.5625rem;
    border-radius: 0.625rem 0.625rem 0 0;
    gap: 10rem;
    
    position: relative;
    top: 0.5rem;

    &>button {

        border: none;
        background: none;
        color: var(--color-grey-100);
        font-size: 12px;
    }

}

.divBox {
    display: flex;
    border-radius: 0.5rem;

    background: white;
    
    padding: 1.25rem;
    
    width: 35.5vw;
    height: 100vw;
}

.footerCard {

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 1rem;
    gap: 1rem;

    border-radius: 0 0 0.5rem 0.5rem;
    width: 38.5vw;
    padding-bottom: 1rem;

    background: white;

    &>button {

        display: flex;
        width: 94%;
        height: 3.9375rem;
    }
}

.divBoxTotal {

    display: flex;
    justify-content: space-between;

    
    width: 94%;
    height: 1rem;
    
    padding: 1rem 0 0 0;
    
    border-top: 0.125rem solid var(--color-grey-100);
}