.divBox {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 484px;
    height: 351px;

    border-radius: 0px 0px 8px 8px;
    background: #FFF;
}